@charset "utf-8";

.guide{width: 92%; max-width: 1200px;}
/* 이미지 첨부파일 input */
form input::file-selector-button { display: none;}
.file_input_field{text-align: center;}
.file_input{background-color: #f6f8f9; width: 50%; padding-top: 50%; position: relative; margin: 50px auto 20px;}
.file_input input{width: 100%; height: 100%; color: transparent; position: absolute; top: 0; left: 0; cursor: pointer; transition: all 0.3s;}
.file_input input::before{content: "\e914"; font-family: 'xeicon'; font-size: 1.5em; color: #686868; display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.file_input input:hover{background-color: #686868;}
.file_input input:hover::before{color: #f6f8f9;}
.input_field label{border-radius: 5px; border: 1px solid #686868; color: #686868; padding: 5px 10px; transition: all 0.3s;}
.input_field label:hover{color: #fff; background-color: #686868;}

.file_input .preview{display: flex; align-items: center; justify-content: center; width: 100%; text-align: center;}
.file_input .preview .img_box{width: 100%; padding-top: 100%; display: flex; align-items: center; justify-content: center; z-index: 1; background-repeat: no-repeat; background-position: center; background-size: 70%; background-color: #f6f8f9; position: absolute; top: 50%; transform: translateY(-50%);}

.file_input .file_edit_icon{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 100%; height: 100%; display: none; background-color: rgba(0,0,0,0.5); z-index: 1; cursor: pointer;}
.file_input .file_edit_icon .preview_del{display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; font-size: 1.5em; color: #fff;}
.file_input .preview:hover .file_edit_icon{display: block;}
.file_input .preview:hover .file_edit_icon{display: block; }


